{% extends "common_content.html" %}

{% load static %}

{% block title %}
<title>Autropolis - Regras</title>
{%endblock %}

{% block content %}
<div class="gallery">
    <a href="{% url 'page' 'heroes' %}">
        <div class="link">
            <div class="overlay">
                <p>Heróis</p>
            </div>
            <img src="{% static 'Images/Heroes.jpg' %}">
        </div>
    </a>

    <a href="{% url 'page' 'neutral' %}">
        <div class="link">
            <div class="overlay">
                <p>Neutros</p>
            </div>
            <img src="{% static 'Images/Neutral.png' %}">
        </div>
    </a>

    <a href="{% url 'page' 'villains' %}">
        <div class="link">
            <div class="overlay">
                <p>Vilões</p>
            </div>
            <img src="{% static 'Images/Villains.png' %}">
        </div>
    </a>
</div>

<a href="{% url 'status' %}"><p id="status">Status</p></a>

<div class="wrap">
    <div class="left">
        <p></p>
        <p>
            <i>
                Uma cidade outrora reluzente e rica agora vive o pior de seus momentos. Os Vilões, que haviam recuado depois do desaparecimento de seu
                mais poderoso membro, Thri Fut, agora estão próximos de voltar com força total para causar o caos. Enquanto isso, os Heróis, que trabalham
                para o bem-estar da cidade, terminam de se recuperar do grande desastre de dez anos atrás que matou quase todos de seus integrantes.<br>
                Supers solitários chegam aos poucos, cada um com seus próprios objetivos sombrios em mente, prontos para trabalhar para quem for necessário
                a fim de concretizar seus planos. Agora, o campo de batalha está montado, e os Supers, prontos para morrer por suas causas e tomar controle
                sobre a cidade de Autrópolis - mesmo que isso custe sangue.
            </i>
        </p>

        <h2>O JOGO</h2>
        <p>
            Jogadores se dividem em 3 times: Heróis, Vilões e Neutros. A missão dos Heróis é defender a cidade de Autrópolis por 8 turnos;
            a missão dos Vilões é obter 8 Engenhocas para montar a Máquina do Apocalipse; Neutros agem de forma independente entre si, e sua
            missão é completar seus dois objetivos escolhidos no início do jogo.
        </p>

        <p>
            O palco principal do jogo são os 6 Locais estratégicos da cidade: Banco, (Prédio do) Governo, Hospital, Submundo, Laboratório e Delegacia.
            Cada um deles causa um Desastre diferente caso atacado: Heróis precisam protegê-los, enquanto que Vilões devem atacá-los.
        </p>

        <h2>O SUPER</h2>
        <p>
            Cada jogador controla um (ou mais) personagens, chamados de "Supers". Estes são os indíviduos com habilidades extra-humanas
            que defendem ou atacam a cidade de Autrópolis.
            Cada Super tem certos atributos...<br>
            1- <strong>Atributo</strong>: cada Super tem 3 Atributos - Combate, Bravado e Reflexo. Estes serão explicados melhor em "Combate".<br>
            2- <strong>Passiva</strong>: estas são habilidades passivas que podem ser desbloqueadas e melhoradas. Supers começam sem nenhuma passiva desbloqueada.<br>
            3- <strong>Ideal</strong>: a todo turno, Supers escolhem um Ideal dentre 3 disponíveis. São habilidades passivas ou ativas que focam em um aspecto específico do Super.<br>
            4- <strong>Poder</strong>: habilidades ativas que gastam 1P ao serem ativadas.<br>
            5- <strong>Superpoder</strong>: habilidades super poderosas que gastam 5P para serem ativadas.
        </p>

        <h2>TURNOS</h2>
        <p>
            O jogo é dividido em turnos: cada turno possui 4 fases. Durante cada fase, jogadores de cada equipe discutem estratégias para o turno. Essas fases são:<br>
            1- Preparação<br>
            2- Planejamento<br>
            3- Combate<br>
            4- Resolução
        </p>

        <h3>PREPARAÇÃO</h3>
        <p>
            Durante esta fase, Supers gastam Prestígio para melhorar suas habilidades. Suas ações possíveis durante esta fase são:<br>
            -<strong>Recuperação</strong> [0P]: perde a Fase de Preparação e cura 1 Ferimento.<br>
            -<strong>Treino</strong> [2P*]: melhora um de seus atributos. Custo aumenta em 1P para cada Treino.<br>
            -<strong>Experimentação</strong> [2P]: desbloqueia uma Passiva de seu Super.<br>
            -<strong>Missão</strong> [4P]: junte Prestígio com outros Supers e abra uma Missão contra um Super específico.
            Missões são locais que podem ser atacados - caso sejam bem-sucedidas, o alvo perde 1 Saúde (ver "Ferimentos e Ruína").<br>
            <br>
            Jogadores podem tomar quantas ações quiserem durante esta Fase - inclusive nenhuma.
        </p>
        <p>
            Adicionalmente, jogadores também escolhem seus Ideais secretamente e negociam com outras equipes para contratar ou serem contratados.
        </p>


        <h3>PLANEJAMENTO</h3>
        <p>Durante esta fase, Supers ativam Poderes e/ou Superpoderes de Planejamento e escolhem os Locais os quais irão atacar. Essa escolha permanece secreta até a Fase de Realocação.</p>

        <h3>REALOCAÇÃO</h3>
        <p>
            Nesta mini-fase antes do Combate, os Locais de todos os Supers são revelados. Se algum Super quiser ativar uma Realocação (seja por uma Passiva, Ideal, Poder ou Superpoder), ele deve
            anunciá-la agora, trocando seu Local.
        </p>

        <h3>COMBATE</h3>
        <p>
            Durante esta fase, Supers são enviados para os Locais que escolheram e entram em combate caso encontrem Supers de uma equipe inimiga. Se Combates ocorrerem em Locais diferentes, todos esses
            Combates são resolvidos ao mesmo tempo, sincronizando rodadas.
        </p>
        <p>Se houver um Neutro e Supers de uma ou ambas equipes no mesmo Local, jogadores precisam declarar se entrarão em combate entre si.</p>

        <p>
            Um Combate ocorre em rodadas. Supers, na ordem inversa de Reflexo, escolhem suas Ações e anunciam suas Posturas. Posturas dependem de qual Ação tomaram, e são essencialmente
            dicas do que fizeram.<br>
            Se houver um Empate de Reflexo, Heróis vão antes de Vilões, que vão antes de Neutros.<br>
            Assim que todas as Ações forem escolhidas, elas são resolvidas na ordem Previsão>Defesa>Glória>Ataque>Fuga.<br>
        </p>
        <p>
            <strong>Ações:</strong><br>
            -<strong>Ataque</strong>: rola 1d6+Combate. Se esse valor for maior ou igual ao Bravado do alvo, o alvo leva 1 Ferimento.<br>
            -<strong>Defesa</strong>: nega até 1 Ferimento contra o alvo durante esta rodada de Combate.<br>
            -<strong>Fuga</strong>: ao fim desta rodada de Combate, o Super sairá do Local e do Combate.<br>
            -<strong>Glória</strong>: +1P temporário, que só pode ser usado durante este Combate. -4 Bravado durante esta Rodada.<br>
            -<strong>Poder</strong>: ativa um Poder de Combate.<br>
            -<strong>Previsão</strong>: escolhe um alvo e tenta prever sua Ação, alvos e outros detalhes. Se acertar tudo, anula essa Ação, e executa outra Ação (também escolhida antes).<br>
        </p>
        <p>
            <strong>Posturas:</strong><br>
            -<strong>Ofensiva</strong>: Ataque, Previsão, Poder com alvo inimigo.<br>
            -<strong>Defensiva</strong>: Defesa, Fuga, Glória, Poder com alvo aliado.<br>
        </p>


        <h3>RESOLUÇÃO</h3>
        <p>
            Durante esta fase, todos os Supers que ainda estiverem em um Local recebem 1P.<br>
            -Se os Heróis ganharam, o Local vai de Neutro para Heróico ou de Vilanesco para Neutro.<br>
            -Se os Vilões ganharam, eles devem escolher ou ativar o Desastre no local ou transferir o Local
            de Heróico para Neutro ou de Neutro para Vilanesco.<br>
            -Se um Neutro ganhar, ele pode escolher ganhar como Herói, como Vilão ou não fazer nada.
        </p>

        <p>
            Equipes podem anunciar que completaram seus objetivos e venceram o jogo. As Equipes de Heróis e Vilões também podem ganhar caso todo
            Super do time oposto estiver Arruinado.<br>
            ASSIM QUE QUALQUER UM VENCER O JOGO, O JOGO ACABA.<br>
            Por fim, cada Super recebe 1P.
        </p>

        <p>
            <strong>CONDIÇÕES DE VITÓRIA</strong><br>
            Heróis vencem caso um dos três ocorra:<br>
            -Todos os territórios estiverem Heróicos;<br>
            -Os Vilões não tiverem juntado 8 Engenhocas antes do fim do Turno 8;<br>
            -Todos os Vilões estiverem arruinados.
        </p>
        <p>
            Vilões vencem caso um dos três ocorra:<br>
            -Todos os territórios estiverem Vilanescos;<br>
            -Tiverem juntado 8 Engenhocas;<br>
            -Todos os Heróis estiverem arruinados.<br>
        </p>
        <p>
            Um Neutro vence caso:<br>
            -Tiver completado ambos de seus objetivos.<br>
        </p>

        <h2>LOCAIS E DESASTRES</h2>
        <p>
            <strong>BANCO</strong><br>
            Heróico: Nada<br>
            Neutro: +1 Prestígio p/ todos os Vilões<br>
            Vilanesco: +2 Prestígio p/ todos os Vilões
        </p>

        <p>
            <strong>GOVERNO</strong>
            [Começa Heróico]<br>
            H: Nada<br>
            N: +1 Engenhoca<br>
            V: +1 Engenhoca, converte outro local p/ Vilanesco
        </p>

        <p>
            <strong>HOSPITAL</strong><br>
            [A equipe que tiver controle sobre o Hospital pode curar 2 Ferimentos de graça todo turno]
        </p>

        <p>
            <strong>SUBMUNDO</strong><br>
            [Se Neutro: Neutros podem sacrificar sua Fase de Preparação para trocar um de seus Objetivos<br>
            Senão: A equipe que tiver controle sobre o Submundo vê um dos Objetivos de um Super de sua escolha todo turno]
        </p>

        <p>
            <strong>LABORATÓRIO</strong><br>
            H: Nada<br>
            N: +1 Engenhoca<br>
            V: +2 Engenhoca
        </p>

        <p>
            <strong>DELEGACIA</strong>
            [Começa Heróico]<br>
            H: Nada<br>
            N: +1 Combate p/ Vilões prox turno<br>
            V: +2 Combate p/ Vilões prox turno
        </p>
    </div>

    <div class="right">
        <div class="tall_space"></div><div class="space"></div><div class="space"></div><div class="space"></div><div class="space"></div><div class="space"></div><div class="little"></div>
        <div class="box">
            <p>
                <strong>FERIMENTOS E RUÍNA</strong><br>
                Supers podem ser feridos em Combate ou com certas habilidades. Para isso, Supers têm um nível de Saúde, que começa em 4. Se, a qualquer momento, a quantidade de Ferimentos
                de um Super alcançar ou ultrapassar sua Saúde, ele torna-se Arruinado e sai permanentemente do jogo.<br>
                O jogador que controla aquele Super ainda pode participar criando estratégias e planejando com seu time, mas seu Super não pode mais tomar nenhuma Ação nem receber Prestígio.
            </p>
        </div>

        <div class="space"></div><div class="space"></div>

        <div class="box">
            <p>
                <strong>HABILIDADES DE LOCAL</strong><br>
                O Hospital e o Submundo desbloqueiam habilidades que jogadores podem ativar durante esta fase. Veja "Locais e Desastres" para mais informações.
            </p>
        </div>

    </div><div class="space"></div><div class="little"></div>

    <div class="box">
        <p>
            <strong>SUPER-ALVO, LOCAL-ALVO</strong><br>
           Várias habilidades mencionam um "Super-Alvo" ou "Local-Alvo" em suas descrições. "-Alvos" são personagens ou locais escolhidos pelo jogador no momento em que são ativados.
        </p>
    </div>

    <div class="space"></div><div class="space">

        <div class="box">
            <p>
                <strong>NPC</strong><br>
                Algumas habilidades criam NPCs. Seus Atributos são representados como [Combate/Bravado/Reflexos]. Estes personagens normalmente duram apenas um turno,
                têm apenas 2 Saúde e podem tomar qualquer Ação de Combate comum.<br>
                NPCs Acompanhantes sempre vão para o Local de seu criador. NPCs Independentes podem ser enviados para qualquer Local.
            </p>
        </div>

        <div class="box">
            <p>
                <strong>PODERES DE COMBATE</strong><br>
                Se um Poder de Combate ativar outra Ação com alguma modificação (e.g. Ataque com 2 Ferimentos), ele conta como um Poder, e não como a Ação que ele ativa.
            </p>
        </div>

        <div class="little"></div>


        <div class="box">
            <p><strong>OBJETIVOS</strong></p>
            <p>
                Para vencer, Neutros precisam completar 2 objetivos, individualmente escolhidos por eles no início do jogo. O mesmo objetivo pode ser escolhido por diferentes Neutros, e
                escolhido duas vezes pelo mesmo Neutro.<br>
                (Exemplo: Punho escolhe o objetivo "Descartar 10P" duas vezes. Assim, se Punho conseguir 10P, descartá-los, e fazer isso novamente, ele vence o jogo.)
            </p>

            <p>
                A lista de objetivos é:<br>
                -<strong>Carnificina</strong>: matar um herói e um vilão. <i>"Conflito é o estado natural da humanidade."</i><br>
                -<strong>Tratamento</strong>: manter o Hospital Neutro por 4 turnos consecutivos. <i> "Ela precisa de um tratamento especializado. E nós precisamos de tempo."</i><br>
                -<strong>Vanglória</strong>: Descartar 10P. <i> "Grana e glória, amigo. Grana e glória."</i><br>
                -<strong>Segurança</strong>: manter o Banco Neutro por 6 turnos consecutivos. <i> "O Banco Lumios gostaria de se abster deste conflito. Obrigada."</i><br>
                -<strong>Rivalidade</strong>: impedir que o outro Neutro marque objetivos por 5 turnos consecutivos. <i> "Não é pessoal. Mas seus espinhos estragam meu jardim, entende?"</i><br>

            </p>

            <p>Objetivos podem ser alterados com o Local Submundo (Mais informações em "Locais e Desastres").</p>
        </div>

        <div class="little"></div>

        <div class="box">
            <p>
                <strong>TERRITÓRIO</strong><br>
                Cada Local pertence a um Território: Heróico, Neutro e Vilanesco. O Território de um Local afeta o Desastre que ocorre nele.<br>
                Territórios, por padrão, começam Neutros.
            </p>
        </div>

        <div class="space"></div><div class="space"></div><div class="space"></div><div class="tall_space"></div><div class="tall_space"></div>
    </div>
</div>
{% endblock %}