{% extends "common_content.html" %}

{% load static %}

{% block content %}
<div class="gallery">
    <a href="{% url 'page' 'heroes' %}">
        <div class="link">
            <div class="overlay">
                <p>Heróis</p>
            </div>
            <img src="{% static 'Images/Heroes.jpg' %}">
        </div>
    </a>

    <a href="{% url 'page' 'neutral' %}">
        <div class="link">
            <div class="overlay">
                <p>Neutros</p>
            </div>
            <img src="{% static 'Images/Neutral.png' %}">
        </div>
    </a>

    <a href="{% url 'page' 'villains' %}">
        <div class="link">
            <div class="overlay">
                <p>Vilões</p>
            </div>
            <img src="{% static 'Images/Villains.png' %}">
        </div>
    </a>
</div>

<a href="{% url 'index' %}"><p id="status">Regras</p></a>

{% if local_list %}
<div class="wrap">
    <p>Turno: {{local_list.1.game.turno}}<br>
    Engenhocas: {{local_list.1.game.engenhocas}}<br>
    Fase: {{local_list.1.game.fase}}</p>

    {% for local in local_list %}

    <p>
        <strong>
            {{ local.nome }}: {{local.desastre}} ({{ local.territorio }})
        </strong>
        {% if local.game.fase == 'Realocação' or  local.game.fase == 'Combate' or local.game.fase == 'Resolução' %}
        {% for visitor in local.visitors.all %}
        {% if visitor.team == 'H' %}
        <br><span class="heroi">-{{ visitor.nome }}</span>
        {% elif visitor.team == 'N' %}
        <br><span class="neutro">-{{ visitor.nome }}</span>
        {% else %}
        <br><span class="vilao">-{{ visitor.nome }}</span>
        {% endif %}
        {% endfor %}
        {% endif %}
    </p>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
